body {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    color: #E11C3E;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article,
aside {
    overflow-y: auto;
}

article {
    flex: 2;
}

aside {
    flex: 1;
}

a {
    text-decoration: none;
}

.rounded-image {
            border-radius: 5%;
        }


.button-with-image {
    display: flex;
        justify-content: center;
}

.contact {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 35%;
    margin-top: -25%;
    margin-left: -25%;
}